/* Container holding the image and the text */
.homeimage {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    background-color: rgba(0,0,0,.75);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}