/* Container holding the image */
.homeImage {
    position: static;
    text-align: center;
    width: 100%;
    object-fit: 'cover';
}

/* Centered text */
.centered {
    position: absolute;
    color: white;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    background-color: rgba(0,0,0,.75);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
